.footer {
    background-color: #0a285d; 
    color: #ccc; 
    padding: 20px 0; 
    margin-top: 20px;
  }
  
  .container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap; 
  }
  
  .footer-content {
    flex: 2;
    text-align: left;
    color: white;
  }
  
  .footer-content p, 
  .footer-content address {
    margin: 0;
    line-height: 1.5;
  }
  
  .footer-links {
    flex: 1;
    display: flex;
    margin-top: 30px;
    text-align: center;
    justify-content: center; 
    flex-wrap: wrap;
  }
  
  .footer-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }