.train-card {
    width: 100%;
    max-width: 1200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex; 
    align-items: flex-start; 
}

.train-icon {
    margin-right: 16px; 
}

.train-icon img {
    width: 40px;
    height: 40px;
}

.train-info {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.train-header {
    display: flex;
    justify-content: space-between;
}

.train-time {
    font-size: 1.2rem;    
    margin-right: 16px; 
    font-weight: bold;
}

.train-start {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 20px;
}

.train-end {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 20px;
}

.train-lineBetween {
    display: flex;
    align-items: center;
    flex-grow: 1;
    position: relative;
}

.train-lineBetween::before,
.train-lineBetween::after {
    content: '●'; 
    display: block;
    margin: 0 10px;
}

.train-lineBetween .line {
    flex: 1;
    height: 1px;
    background-color: #ccc; 
    margin: 0;
}

.start-time {
    font-size: 1.2rem;
    margin-right: 16px; 
    color: #000000;
}

.route {
    font-size: 1.2rem;
    margin-right: 5px;
    color: #000000;
}

.train-name {
    font-size: 1.2rem;
    color: #000000;
}

.train-details {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #666;
}

.train-footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.last-update-box {
    background-color: #d4edda; 
    padding: 10px;
    border-radius: 5px; 
    border: 1px solid #c3e6cb; 
}

.last-update {
    display: flex;
    align-items: center;
}

.last-update .update-label {
    font-size: 1rem; 
    color: black;
    font-weight: bold;
}

.last-update .update-value {
    font-size: 1rem; 
    color: green;
    font-weight: bold;
    margin-left: 8px;
}

.stopping-stations-btn {
    background-color: #333;
    color: #fff;
    height: 30px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.stopping-stations {
    margin-top: 16px;
    padding: 8px;
    border-top: 1px solid #ddd;
}

.stopping-stations ul {
    list-style: none;
    padding: 0;
}

.stopping-stations li {
    padding: 4px 0;
}
